

/*-------------
     General
-------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16pt 'Alata', sans-serif;
    color: #000000;
}

ul{ list-style: none; }

a{
    text-decoration: none;
    color: #0c5202;
    cursor: pointer;
}

a.btn{
    color: #fff;
    border-radius: 64px;
    text-transform: capitalize;
    background-color: #0c5202;
    font-weight: 700;
    font-size: 16pt;
    text-align: center;
    width: 300px;
    display: inline-block;
    margin: 10px;
}

hr{
    width: 250px;
    height: 2px;
    background-color: #0c5202;
    border: 0;
    margin-bottom: 40px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 100px;
}

@media (max-width: 1000px){
    section{ padding: 50px 50px; }
}

@media (max-width: 600px){
    section{ padding: 50px 30px; }
}

section h3.title{
    color: #000000;
    text-transform: capitalize; 
    font: 36px 'Alata', serif;
    font-weight: 700;
    margin-bottom: 35px;
    text-align: center;
}

section p{
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

ul.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1000px){
    header{ padding: 20px 50px; }
}

@media (max-width: 700px){
    header{ flex-direction: column; }
    header h2{ margin-bottom: 15px; }
}



/*----------------
     Hero Section
----------------*/

.hero{
    position: relative;
    justify-content: center;
    min-height: 5vh;
    color: #000000;
    text-align: center;
    display: flex;
    align-items: center;
}

.hero .background-image{
    position: absolute;
    top: 0;
    left: 20px;
    width: 15%;
    height: 100%;
    background-size: contain;
    background-color rgba(255,255,255,0.6);
    z-index: -1;
}

.hero h1{
    font: bold 48px 'Alata', serif;
    margin-bottom: 10px;
}

@media (max-width: 800px){
    .hero{ min-height: 5vh; }
    .hero h1{ font-size: 48px; }
}


/*--------------------
     White Section
---------------------*/

.white a.btn{ padding: 20px 46px; }


/*----------------------
     Features Section
----------------------*/

.features{
    background-color: #f7f7f7;
}

.features .grid li{
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
    margin-bottom: 30px;
}

.features .grid li i{
    font-size: 50px;
    color: #0c5202;
    margin-bottom: 25px;
}

.features .grid li h4{
    color: #000000;
    font-size: 20px;
    margin-bottom: 25px;
}

.features .grid li p{
    margin: 0;
}

@media (max-width: 1000px){
    .features .grid li{
        flex-basis: 70%;
        margin-bottom: 65px;
    }

    .features .grid li:last-child{ margin-bottom: 0; }
}

@media (max-width: 600px){
    .features .grid li{ flex-basis: 100%; }
}
